/* main css */
$mycolor: #490a3d;

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  background-color: #fff;
}

/* navbar */
.navbar-default {
  background-color: transparent;
  height: 70px;
  border-radius: 0px;
  border-color: transparent;
  margin: 0;
  font-family: Ubuntu;
  text-transform: uppercase;
  letter-spacing: .5px;

  .navbar-brand {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
      }
    }
  }
}

/* first section */
.section {
  height: 500px;
  background-image: url(splashblur.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* All sections */
section {
  height: 500px;
  padding: 40px 0;
  background-color: #fafafa;
  #wrapper {
    height: 500px;
  }
}
